body {
    & #Calc {
        margin-top: 1rem;
        border: 1px solid #333;
        padding: 0.5rem;
        width: 500px;
        display: flex;
        flex-direction: column;
        & #Screen {
            background-color: #eee;
            padding: 0.5rem;
            margin-bottom: 0.5rem;
            height: 150px;
            font-size: 1.5em;
            font-family: monospace;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            #ErrorLog {
                width: 100%;
                display: block;
                & > p > strong {
                    color: red;
                    text-transform: uppercase;
                    font-size: 1em;
                }
            }
        }
        & #Controls {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 0.25rem;
            & .control {
                width: calc(33.333% - 0.5rem);
                &.zero {
                    width: calc(100% - 0.5rem);
                }
            }
        }
    }
}
